<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <div class="navbar-nav web-title">
      <a class="nav-link" id="web-title" href="/listings"><b>WanderLust</b></a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav-search nav-hovernav-search-search ms-auto me-auto">
        <form class="d-flex" role="search" action="/listings/search" method="get" id="searchBox">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search Location | Title | Price" aria-label="Search" name="q" id="mySearchInput" />
          <button class="btn search-btn" type="submit" id="search">
            <i class="fa-solid fa-magnifying-glass"></i> Search
          </button>
        </form>
      </div>

      <div class="navbar-nav">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <% if (typeof currUser === "undefined" || !currUser) { %>
              <li><a class="dropdown-item" href="/signup"><i class="fa-solid fa-user-plus"></i>&nbsp;<b>Sign up</b></a></li>
              <li><a class="dropdown-item" href="/login"><i class="fa-solid fa-user-check"></i>&nbsp;<b>Log in</b></a></li>
            <% } else { %>
              <li><h6 class="dropdown-header"><i class="fa-solid fa-user"></i>&nbsp;<%= currUser.username %></h6></li>
              <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;<b>Log out</b></a></li>
            <% } %>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/listings/new"><i class="fa-solid fa-circle-plus"></i>&nbsp;<strong>Airbnb your home</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
